.rbc-event {
    background-color: #E2ECF5;
    max-width: 200px;
}

.rbc-time-content{
    font-family: 'Open Sans', sans-serif !important;
}

.rbc-day-slot .rbc-event{
    border: 0;
    border-left: 2.5px solid #6E9ECF;
    border-radius: 0;
    font-size: 14px;
    color:black;
}

.rbc-today {
    background-color: white;
}

.rbc-time-gutter.rbc-time-column{
    font-weight: 200;
}

.rbc-timeslot-group:nth-child(even){
    font-size: 14px;
}

.rbc-timeslot-group:nth-child(odd){
    font-size: 16px;
}
